# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Dependencies (Thư viện nặng)
node_modules
.pnp
.pnp.js

# Build output (File chạy sau khi build)
dist
dist-ssr

# Environment Variables (QUAN TRỌNG NHẤT - CHẶN FILE CHỨA KEY)
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?